<div class="pro-card layout-column" fxLayout="column" style="">
        <div class="pro-info layout-row" style="margin-bottom: 23px;padding-left: 33px;" fxLayout="row">
           <img src="assets/images/user.png" class="user-logo-sq ng-scope" *ngIf="userPro == undefined">
            <div class="text-info-pro layout-column" fxLayout="column">
                <span class="name ng-binding">prashantkumar</span>
                <span class="contact ng-binding">+91 9870277697</span>
                 <a class="view-pro ng-binding layout-align-center-stretch layout-column" fxLayout="column" fxLayoutAlign="center" href="/profile">VIEW PROFILE</a>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="card-text ng-binding">
            Legal Notices
        </div>
        <div class="card-text ng-binding">
            Help
        </div>
        <div class="card-text layout-row" fxLayout="row">
            <img src="assets/icons/ic-logout.svg" class="ic-logout">
            <span class="ng-binding">SIgn out</span>
        </div>
    </div>
