    
.center-heading .diro-icon {
	width: 125px;
    height: 28px;
    object-fit: contain;
    margin-bottom: 4px;
    margin-top: 10px;
    margin-left: 25px;
}
.doc-type-body .header-doc-type {
    width: 100%;
    height: auto;
    padding: 14px 20px 14px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
}

.doc-type-body .header-doc-type .profile-part {
    width: 44%;
    height: auto;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #f44336;
}

.doc-type-body .header-doc-type .profile-part .user-logo {
    width: 40px;
    height: 40px;
    border: solid 1.5px rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 2;
}

.confirm-heading-wrap {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    top: 0px;
    padding: 12px;
    margin-top: 40px;
    z-index: 0;
}

.confirm-heading-wrap .header-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 10px;
    position: relative;
    z-index: 0;
}

.confirm-heading-wrap .lines {
    width: 45px;
    height: 1px;
    background: #ffffff;
    float: left;
    position: relative;
    z-index: 0;
}

.text {
    margin-top: -9px;
    float: left;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16.8px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 500;
    position: relative;
    z-index: 0;
}

.main-wrap-id {
    width: 100%;
    height: auto;
    margin-top: 30px;
    position: relative;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    z-index: 0 !important;
}

@media only screen and (min-width: 600px){
.main-wrap-id .content-wrap {
    min-width: 185px;
    max-width: 246px;
    border-radius: 10px;
}
}

.main-wrap-id .content-wrap {
    min-width: 212px;
    max-width: 246px;
    height: auto;
    padding-bottom: 16px;
    opacity: 0.7;
    background-color: #ffffff;
    text-align: center;
    float: left;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    position: relative;
    z-index: 0 !important;
    pointer-events: none;
}

.main-wrap-id .content-wrap .content-wrap-text {
    width: 100%;
    margin-top: 12px;
    text-align: center;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.84);
}

.main-wrap-id .content-wrap .download-btn {
    width: auto !important;
    padding-left: 16px;
    padding-right: 16px;
    height: 36px !important;
    border-radius: 2px !important;
    background-color: #fdb828 !important;
    font-size: 12px !important;
    text-transform: initial !important;
    box-shadow: none !important;
    margin-top: 20px;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    pointer-events: auto;
}

.links-bottom-text .app-store {
    width: 107.2px;
    height: 31px;
    object-fit: contain;
    margin-bottom: 16px;
    margin-right: 15px;
}

.links-bottom-text .play-store {
    width: 98.8px;
    height: 31px;
    object-fit: contain;
    margin-bottom: 16px;
}

.links-bottom-text {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    background-color: rgb(0, 188, 212);
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 36px;
    position: relative;
}

.doc-type-body .header-doc-type .profile-part .profile-card {
    width: auto;
    height: auto;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
    background-color: rgb(255, 255, 255);
    border: solid 0.5px rgb(175, 175, 175);
    border-top: 0px;
    padding-bottom: 30px;
    position: absolute;
    z-index: 8 !important;
    top: 72px;
    right: 5px;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.doc-type-body .header-doc-type .profile-part .profile-card .upper-card .card-pro {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 16px;
}

.doc-type-body .header-doc-type .profile-part .profile-card .upper-card {
    width: 100%;
    height: auto;
    background-color: rgba(243, 243, 243, 0.38);
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    padding: 23px 18px 25px 18px;
}

.doc-type-body .header-doc-type .profile-part .profile-card .upper-card .user-dob {
    width: 158px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #575757;
    margin-top: 21px;
}

.doc-type-body .header-doc-type .profile-part .profile-card .upper-card .view-profile-button {
    width: 28px;
    height: 28px;
    object-fit: contain;
    margin-left: 10px;
    margin-top: 14px;
}

.doc-type-body .header-doc-type .profile-part .profile-card .upper-card .user-name {
    font-size: 16px;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.pro-row .pro-row-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 16px;
}

.doc-type-body .header-doc-type .profile-part .profile-card .pro-row {
    width: 100%;
    height: auto;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    padding: 13px 16px 13px 16px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.84);
}

.doc-type-body .header-doc-type .profile-part .profile-card .pro-row .re-submit-button {
    width: auto;
    height: 30px;
    border-radius: 2px;
    background-color: rgb(253, 184, 40);
    border: 0.1px solid rgb(253, 184, 40);
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 12px;
}

.doc-type-body .header-doc-type .profile-part .profile-card .pro-row .pro-row-title {
    width: 150px;
    height: auto;
    margin-top: 4px;
}

.doc-type-body .header-doc-type .profile-part .profile-card .bottom-pro-text {
    margin-top: 24px;
    margin-left: 32px;
}

.doc-type-body .header-doc-type .profile-part .profile-card .bottom-pro-text .sign-out-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 10px;
    cursor: pointer;
}

.doc-type-body .header-doc-type .profile-part .triangle-part {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #ffffff;
    position: absolute;
    z-index: 9 !important;
    top: 60px;
    right: 52px;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.user-logo {
    width: 35.9px;
    height: 35.9px;
    border-radius: 50%;
    margin-top: 3px;
    float: right;
    position: relative;
    margin-right: 20.1px;
}

.doc-type-body .header-doc-type .profile-part .profile-card .bottom-pro-text .sign-out-text {
    margin-top: 4px;
    cursor: pointer;
}

