/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
    /* background-color:rgb(0, 188, 212); */
    margin:0;
    /* opacity: 1 !important; */
    
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    /* background-color: #fff; */
}

.emoji-bg-one {
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 30px;
}

.emoji-bg-two {
    width: 65px;
    height: 65px;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    top: 66px;
    right: 40px;
}
.emoji-bg-three {
    width: 65px;
    height: 65px;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    bottom: 182px;
    left: 84px;
}

.emoji-bg-four {
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    bottom: 162px;
    right: 36px;
}
/* .country-code {
    width: 85px;
    height: 48px;
    font-size: 16px;
    margin-top: 38px;
} */




