.verify-card {
    width: 390px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.84);
    padding-left: 30px;
    padding-top: 22px;
    padding-right: 30px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    margin: auto;
}

.login-diro-logo {
    width: 120px;
    height: 34px;
    object-fit: contain;
    margin-bottom: 24px;
}

.verify-card .bold-text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

.verify-card .resend-button {
    width: auto;
    height: 36px;
    text-align: center;
    color: rgba(0, 0, 0, 0.38);
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    border-style: none;
    margin-top: 45px;
}

.copy-right-text-bottom {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    background-color: rgb(0, 188, 212);
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 24px;
    position: fixed;
    z-index: 1;
    bottom: 0px;
}

.login-div {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 188, 212);
    position: absolute;
    z-index: 0;
    overflow-y: auto;
    top: 0px;
    left: 0px;
    right: 0px;
}